{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "nav.html" %}
<!---Form Custom CSS File--->
<link href="{% static 'form/style.css' %}" rel="stylesheet">
<div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
        <header>Forgot Password</header>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="button" class="button" value="Reset Password">

        </form>


    </div>

</div>

{% endblock content %}
{% include "footer.html" %}